/* Typography */

@font-face {

  font-family: 'Dumbledor';
  src: url("../font/dum1.ttf") format("truetype");

}

@font-face {

  font-family: 'Roboto';
  src: url("../font/Roboto-Regular.ttf") format("truetype");

}

h1, h2, h3 {

  font-family: 'Dumbledor';

}

h1 {

  font-size: 3rem;
  line-height: 1;
  text-align: center;

}

.livre h2 {

  font-family: 'Dumbledor';
  font-size: 1.4rem;
  text-align: center;
  margin-bottom: 5px;

}

.livre p {

  font-style: italic;
  font-family: 'Dumbledor';
  margin-top: 0px; 
  margin-bottom: 5px; 
  font-size: 1.3rem;
  text-align: center;

}
  
p, li, a {

  font-family: 'Roboto';
  font-size: 1rem;
  line-height: 0.8;
  color: #000;
  text-decoration: none;

}

/* Corps de la page */

body {

  background-color: #6d071a;
  margin: 0;
  padding: 0;

}

header {

  background-color: #F4D35E;

}

.header {

  display: grid;
  place-items: center;
  text-align: center;
  color: #6d071a;
  text-decoration: none;

}

.logo-title {
  
  display: grid;
  grid-template-columns: auto auto; 
  align-items: center; 
  gap: 15px;

}

.container {

  max-width: 1400px;
  margin: 20px auto;
  padding: 20px;

}
  
.grid {

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;

}

  /* Article */

.articlelivre {

  display: grid;
  grid-template-rows: auto auto 1fr auto auto auto auto;
  align-items: start; 
  padding: 20px;
  background-color: #d1af76;
  border: 1px solid white;
  border-radius: 10px;
  transition: transform 0.2s;

}

.articlelivre:hover {

  transform: scale(1.05);

}

.info {

  margin-bottom: 5px;

}

.info-weight {

  font-weight: bold; ;

}

.footer a {

  text-decoration: none;

}

.footer {

  text-align: center;
  background-color: #F4D35E;
  font-size: 1.3em;
  padding-top: 10px;
  padding-bottom: 10px;

}

  /* Détails */

.details-button {

  border: 1px solid white;
  border-radius: 8px;
  background-color: #d1af76;
  text-align: center;
  display: block;
  margin: auto;
  padding: 5px;
  font-family: 'Roboto';
  font-size: 1rem;
  line-height: 0.8;
  color: #000;

}

.details-button:hover {

  transform: scale(1.05);

}

.details-main {

  margin: 20px auto;
  padding: 20px;

}

.details-grid {

  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 0px;

}

.container-details-img {
  
  border: 1px solid white;
  border-radius: 8px;
  max-width: 800px;
  background-color: #d1af76;
  margin: 20px auto;
  padding: 20px ;

}

.container-details-texte {

  border: 1px solid white;
  border-radius: 8px;
  max-width: 800px;
  background-color: #d1af76;
  margin: 20px auto;
  padding: 20px ;

}

.details-img {

  width: 350px;
  height: 500px;
  border: 1px solid white;
  border-radius: 8px;
  display: block;
  margin: auto;

}

.details-img:hover {

  transform: scale(1.3);

}

.details-info p {

  line-height: 1.5;
  font-size: 0.9rem;
  text-align: left;
  margin-top: 10px;

}

.details-info span {

  font-weight: bold;

}

.h2details {

  font-family: 'Dumbledor';
  font-size: 1.7em;
  text-align: center;
  margin-bottom: 5px;

}

.pdetails {

  font-style: italic;
  margin-top: 0px; 
  margin-bottom: 5px; 
  font-family: 'Dumbledor';
  font-size: 1.6em;
  text-align: center;

}


  /* Images */

#logo {

  width: 184.25px;
  height: 115.75px;
  display: block;
  margin: auto;

}

#got, #lotr, #hp, #ça, #jk, #twd, #db, #hg, #tws, #pj {

  width: 200px;
  height: 300px;
  display: block;
  margin: auto;
  border-right: 5px solid #FEFEFEFE;
  border-radius: 8px;

}

  /* Responsivité */

@media (max-width: 1024px) {

  .grid {

    grid-template-columns: repeat(2, 1fr);

  }

  h1 {

    font-size: 2.5rem;
    line-height: 1;

  }

  p, li {

    font-size: 1rem;

  }
  
  #got, #lotr, #hp, #ça, #jk, #twd, #db, #hg, #tws, #pj {

    width: 150px;
    height: 250px;

  }

  
  .details-grid {

    grid-template-columns: 1fr ;

  }

  .details-img:hover {

    transform: scale(1.18);

  }

  .details-info p {

    font-size: 0.7rem;

  }

  .details-img {

    width: 250px;
    height: 400px;

  }
  
}

@media (max-width: 768px) {

  .grid {

    grid-template-columns: 1fr;

  }

  h1 {

    font-size: 2rem;
    line-height: 1;

  }

  p, li {

    font-size: 0.9rem;

  }

  #got, #lotr, #hp, #ça, #jk, #twd, #db, #hg, #tws, #pj {

    width: 150px;
    height: 250px;

  }

  .details-grid {

    grid-template-columns: 1fr ;

  }

  .details-img:hover {

    transform: scale(1.18);

  }

  .details-info p {

    font-size: 0.7rem;

  }

  .details-img {

    width: 250px;
    height: 400px;
    
  }

}